<%= render "shared/header" %>
<div class="index-top">
  <h1>質問一覧</h1>

    <div class="question-list">
        <div class="new-questions">
            <h2>新着順</h2>
            <!-- 新着質問を表示 -->
              <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.category.category_name if question.category %></td>
        <!-- 選択肢や画像の表示 -->
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
        </div>

        <div class="popular-questions">
            <h2>回答急上昇</h2>
            <!-- 人気の質問を表示 -->
              <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.category.category_name if question.category %></td>
        <!-- 選択肢や画像の表示 -->
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
        </div>
    </div>

    <!-- カテゴリー一覧 -->
    <div class="categories">
        <h2>カテゴリー</h2>
        <!-- カテゴリーを表示 -->
        <ul>
            <li><a href="#">イラスト、絵画</a></li>
            <li><a href="#">写真</a></li>
            <li><a href="#">音楽</a></li>
            <li><a href="#">映画</a></li>
            <li><a href="#">TV、エンタメ</a></li>
            <li><a href="#">ゲーム</a></li>
            <li><a href="#">読書、文学</a></li>
            <li><a href="#">グルメ、料理</a></li>
            <li><a href="#">旅行</a></li>
            <li><a href="#">ファッション</a></li>
            <li><a href="#">美容</a></li>
            <li><a href="#">手芸、クラフト</a></li>
            <li><a href="#">スポーツ、フィットネス</a></li>
            <li><a href="#">アウトドア</a></li>
            <li><a href="#">車、バイク</a></li>
            <li><a href="#">ガーデニング</a></li>
            <li><a href="#">ダンス、パフォーマンス</a></li>
            <li><a href="#">ビジネス、キャリア</a></li>
            <li><a href="#">趣味の学習、スキル習得</a></li>
            <li><a href="#">自己啓発、ライフハック</a></li>
            <li><a href="#">その他</a></li>
        </ul>
    </div>
</div>

